logging:
  file:
    name: hpbanalytics.log
  logback:
    rollingpolicy:
      max-history: 1
server:
  port: 8080
spring:
  datasource:
    url:
    username:
    password:
    hikari:
      maximum-pool-size: 7
  jpa:
    generate-ddl: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        id:
          new_generator_mappings: true
        show_sql: false
application:
  ecb-exchange-rate-url: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
  underlyings-permanent:
    - MES
    - MCL
